*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #bbc6fa;
}
.quote-box{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
}
.quote-box h1{
    font-size: 32px;
    margin-bottom: 40px;
    font-family: cursive;
}
.quote-box h1::after{
    content : '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23 , 124 , 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    background-color: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23 , 124 , 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quote-box input{
    color: #000000;
    border-radius: 25px;
    border: 1px solid rgb(23 , 124 , 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-weight: 600;
    font-size: 20px;
    padding-left:22px;
}
.quote-box button:hover{
    box-shadow: 1px 6px 10px greenyellow;
}
.quote-box img{
    display: none;
    position: relative;
    left: 600px;
}
@media screen and (max-width: 600px) {
    .quote-box {
        padding: 10px;
    }
    .quote-box img {
        display: block;  
        margin: 0 auto;  
        max-width: 100%; 
        position: relative;
        left: 0;
    }
}
